{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <section class="s-featured">
        <div class="row">
            <div class="col-full">
                <div class="featured-slider featured" data-aos="zoom-in">
                    {% for post in top_posts %}
                        <div class="featured__slide">
                            <div class="entry">
                                <div class="entry__background"
                                     style="background-image:url({{ post.image.url }});"></div>
                                <div class="entry__content">
                                    <span class="entry__category"><a href="{% url 'category' post.category.category post.category.id %}">{{ post.category }}</a></span>
                                    <h1><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}.</a></h1>
                                    <div class="entry__info">
                                        <a href="{{ post.get_absolute_url }}" class="entry__profile-pic">
                                            <img class="avatar" src="{{ post.author.image.url }}" alt="Img">
                                        </a>
                                        <ul class="entry__meta">
                                            <li><a href="{{ post.get_absolute_url }}">{{ post.author.full_name }}</a></li>
                                            <li>{{ post.created_at|date:'M d, Y' }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <section class="s-content">
        <div class="row entries-wrap wide">
            <div class="entries">
                {% for post in posts %}
                    <article class="col-block">
                        <div class="item-entry" data-aos="zoom-in">
                            <div class="item-entry__thumb">
                                <a href="{{ post.get_absolute_url }}" class="item-entry__thumb-link">
                                    <img src="{{ post.thumbnail.url }}" alt="Img">
                                </a>
                            </div>
                            <div class="item-entry__text">
                                <div class="item-entry__cat">
                                    <a href="{% url 'category' post.category.category post.category.id %}">{{ post.category }}</a>
                                </div>
                                <h1 class="item-entry__title"><a href="{{ post.get_absolute_url }}">{{ post.title }}.</a></h1>
                                <div class="item-entry__date">
                                    <a href="{{ post.get_absolute_url }}">{{ post.created_at.date }}</a>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}

            </div>
        </div>
        <div class="row pagination-wrap">
            <div class="col-full">
                <nav class="pgn" data-aos="fade-up">
                    <ul>
                        {% if posts.has_previous %}
                            <li><a class="pgn__prev" href="?page={{ posts.previous_page_number }}">Prev</a></li>
                        {% else %}
                            <li><a class="pgn__prev">Prev</a></li>
                        {% endif %}
                        <li><a class="pgn__num" href="#0">{{ posts.number }}</a></li>
                        {% if posts.has_next %}
                            <li><a class="pgn__next" href="?page={{ posts.next_page_number }}">Next</a></li>
                        {% else %}
                            <li><a class="pgn__next">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>

{% endblock %}