{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <section class="s-content s-content--top-padding s-content--narrow">
        <article class="row entry format-standard">
            <div class="entry__media col-full">
                <div class="entry__post-thumb text-center">
                    <img src="{{ post.image.url }}" alt="NO" data-pagespeed-url-hash="790500799"
                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
            </div>
            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{ post.title }}.
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{ post.created_at|date:'M d, Y' }}</li>
                    <li class="byline">
                        By
                        <a>{{ post.author.full_name }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-full entry__main">
                <p>
                    {{ post.body|safe }}
                </p>
                <div class="entry__taxonomies">
                    <div class="entry__cat">
                        <h5>Posted In: </h5>
                        <span class="entry__tax-list">
                            <a href="{% url 'category' post.category.category post.category.id %}">{{ post.category.category }}</a>
                            </span>
                    </div>
                    <div class="entry__tags">
                        <h5>Tags: </h5>
                        <span class="entry__tax-list entry__tax-list--pill">
                            {% for tag in post.tags.all %}
                                <a href="#">{{ tag }}</a>
                            {% endfor %}
                            </span>
                    </div>
                </div>
                <div class="entry__author">
                    <img src="{{ post.author.image.url }}" alt=""
                         data-pagespeed-url-hash="2649034857"
                         onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                    <div class="entry__author-about">
                        <h5 class="entry__author-name">
                            <span>Posted by</span>
                            <a href="#0">{{ post.author.full_name }}</a>
                        </h5>
                        <div class="entry__author-desc">
                            <p>
                                {{ post.author.bio }}.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <div class="s-content__entry-nav">
            <div class="row s-content__nav">
                <div class="col-six s-content__prev">
                    <a href="{{ post1.get_absolute_url }}" rel="prev">
                        <span>Previous Post</span>
                        {{ post1.title }}
                    </a>
                </div>
                <div class="col-six s-content__next">
                    <a href="{{ post2.get_absolute_url }}" rel="next">
                        <span>Next Post</span>
                        {{ post2.title }}
                    </a>
                </div>
            </div>
        </div>
        <div class="comments-wrap">
            <div id="comments" class="row">
                <div class="col-full">
                    {% if post.comments.all.count != 0 %}
                        <h3 class="h2">{{ post.comments.all.count }} Comments</h3>
                        <ol class="commentlist">
                            {% for comment in post.comments.all %}
                                <li class="depth-1 comment">
                                    <div class="comment__content">
                                        <div class="comment__info">
                                            <div class="comment__author">{{ comment.name }}
                                                <ul class="entry__header-meta">
                                                    <li class="date com_date">{{ comment.created_at|date:'M d, Y | H:i' }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="comment__text">
                                            <p>{{ comment.message }}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}

                        </ol>
                    {% else %}
                        <h3 class="h2"><span>No comments yet. Write first one</span></h3>

                    {% endif %}

                </div>
            </div>
            <div class="row comment-respond">
                <div id="respond" class="col-full">
                    <h3 class="h2">Add Comment <span>Your email address will not be published</span></h3>
                    <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-field">
                                {{ comment_form }}
                            </div>

                            <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width"
                                   value="Add Comment" type="submit">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
